* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.bgColor {
  background: linear-gradient(to right, khaki, grey); }

.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important; }

.ytlinkIndex {
  color: whitesmoke;
  box-sizing: content-box;
  background-color: #2f2f2f;
  text-align: center; }

footer {
  background-color: #2f2f2f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
  height: 100px;
  width: 100%;
  align-content: flex-start;
  padding: 50px 100px 100px 50px;
  border: solid 3px #2f2f2f; }

a {
  color: whitesmoke;
  margin: 0; }

.texto, h1, h2, h3 {
  text-align: center;
  padding: 5%; }

h1 {
  padding: 5%; }

h2 {
  padding: 3%; }

h3 {
  padding: 3%; }

.imgMerch {
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 10px; }

p {
  text-align: center; }

img {
  height: auto;
  width: 300px;
  max-height: 100%;
  max-width: 100%; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animation {
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-duration: 5s; }

h1 {
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-duration: 5s; }

.linksubrayadoIndex {
  text-decoration: underline;
  text-decoration-color: black; }

.parcelsImg {
  width: 1050px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-duration: 5s; }
