.ytlinkIndex {
    color: whitesmoke;
    box-sizing: content-box;
    background-color: rgb(47, 47, 47);
    text-align: center;

}

footer {
    background-color: rgb(47, 47, 47);
    background-color: 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
    height: 100px;
    width: 100%;
    align-content: flex-start;
    padding: 50px 100px 100px 50px;
    border: solid 3px rgb(47, 47, 47);
}