a {
    color: whitesmoke;
    margin: 0;
}

.texto {
    text-align: center;
    padding: 5%;
}

h1 {
    @extend .texto;
    padding: 5%;
}

h2 {
    @extend .texto;
    padding: 3%;
}

h3 {
    @extend .texto;
    padding: 3%;
}

p {
    @extend .texto;
}

.imgMerch {
    height: auto;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

#formulario {
    text-align: center;
    padding: 3%;
}

img {
    height: auto;
    width: 300px;
    max-height: 100%;
    max-width: 100%;
}

table {
    display: flex;
    justify-content: center;
}

@keyframes aparecer {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.animation {
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-duration: 5s;
}

h1 {
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-duration: 5s;
}

.linksubrayadoIndex {
    text-decoration: underline;
    text-decoration-color: black;
}

.parcelsImg {
    width: 1050px;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-duration: 5s;
}

.vidContainer {
    position: relative;
    padding-bottom: 70%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
 
.vidContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}